<section class="content">
    <div class="container-fluid">

        <div class="row pt5">
          <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Login</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #loginForm=ngForm  (ngSubmit)="onSubmit()">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="form.email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="form.password" placeholder="Password">
                        </div>
                      </div>
                      <!-- /.card-body -->
      
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button class="btn btn-primary"><a routerLink="/singup" style="color: blanchedalmond;">SignUp</a></button>
                      </div> 
                    </form>
                  </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    
    </div>
</section>